.cart {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #724563;
    
  }
  .cart .cartTitle {
    font-size: 50px;
    
  }

  .cartItem {
    width: 70vw;
    height: auto;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }



  .cartItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }



  .title {
    width: 20%;
  }

  .description {
    width: 50%
  }

  .btn-add,
  .btn-remove,
  .btn-delete {
    margin: 40px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: #724563;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
  }

  .emptyCart {
    color: blue;
  }


  .btn-empty {
    float: right;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #724563;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
   
  }

  .submit {
    margin-top: 40px;
    height: 50px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }